<h1> <%= @game.title %></h1>
<img src="<%=@game.image%>">
<div>
<p>Playing time: <%= @game.playing_time %></p>
<p>Minimum player count: <%= @game.player_count_min %></p>
<p>Maximum player count: <%= @game.player_count_max %></p>
<% if logged_in? %>
    <%= button_to "Add game", {action: "create", controller: "ownerships", owner_id: current_user.id, game_id: @game.id, remote: true}, {class: 'btn btn-small'} %>

    <% if current_user.has_rated(@game.id) == true %>
      Average Rating: <%= @game.calculate_average_rating %>/5
    <% else %>
      <%= form_for @game_rating do |f| %>
        <%= f.label "Rating: " %>
        <%= f.select :value, GameRating::VALUES %>
        <%= f.submit %>
      <% end %>
    <% end %>
<% end %>

</div>


