<h1> <%= @game.title %></h1>
<img src="<%=@game.image%>">
<div>
<p>Playing time: <%= @game.playing_time %></p>
<p>Minimum player count: <%= @game.player_count_min %></p>
<p>Maximum player count: <%= @game.player_count_max %></p>
</div>
