<!DOCTYPE html>
<html>
<head>
  <title>AListForOdin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <a href="/">Home</a>
    <a href="/users/<%= current_user.id %>">Profile</a>
    <!-- <form class="button" method="post" action="/sessions">
      <input type="hidden" name="_method" value="delete">
      <button id="logout-button" type="submit">Logout</button>
    </form> -->
<%= link_to "Logout", :action => "delete", :controller => :sessions, :method => :delete %>
<% else %>
  <a href="/">Home</a>
  <a href="/sessions/new">Login</a>
  <a href="/users/new">Register</a>
<% end %>

<%= yield %>

</body>
</html>
